.main-content {
  margin-left: 13%; /* starting after the sidebar */
  display: flex;
  overflow-y: auto; /* Enable vertical scroll */
  height: calc(
    100vh - 90px
  ); /* Take full available height minus topbar and padding */
  box-sizing: border-box; /* Ensure padding and border are included in the box's total height */
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.Edit-Profile-Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw; /* Takes 80% of the viewport width. Adjust as needed. */
  max-width: 600px; /* Setting a maximum width for larger screens. */
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Provides space between child elements */
}

.Edit-Menu-Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw; /* Takes 80% of the viewport width. Adjust as needed. */
  /* max-width: 600px; Setting a maximum width for larger screens. */
  height: 70vh; /* Adjust the height as needed. */
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Provides space between child elements */
}

.Change-Password-Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw; /* Takes 80% of the viewport width. Adjust as needed. */
  max-width: 600px; /* Setting a maximum width for larger screens. */
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Provides space between child elements */
}

.Button-Group {
  display: flex;
  justify-content: space-evenly; /* This will space out the buttons */
  gap: 8px; /* This adds a gap between each button */
}

@media (max-width: 600px) {
  .Button-Group {
    flex-direction: column; /* Stack buttons vertically on small screens */
  }
}

.add-dining-hall-button-container {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  padding-right: 16px;
  margin-bottom: 16px;
}

.Restaurant-Content {
  display: flex;
  flex-direction: column; /* This will stack children vertically */
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  /* border: 1px solid #000; */
}

.Restaurant-Card-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure the container spans the full width */
  height: 10%;
  /* border: 1px solid #000; */
}

.Restaurant-Card-Header .button-group {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  /* padding-right: 16px; */
}

.View-Comments-Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  /* max-width: 600px;  */
  height: 90vh;
  overflow-y: auto; /* Enables vertical scrolling */
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Provides space between child elements */
}
