#topbar_logo_img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  margin-right: 20px;
}

.topbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.topbar-left {
  display: flex;
  align-items: center;
}

.topbar-logo {
  width: 40px; /* Adjust this as per your logo's dimensions */
  margin-right: 10px;
}

.topbar-title {
  margin: 0;
  margin-right: 20px;
  font-weight: 500;
}

.topbar-welcome {
  margin: 0;
  font-weight: 400;
  color: #666;
}

.topbar-buttons {
  display: flex;
  gap: 10px; /* space between buttons */
}

.topbar-button {
  color: #333;
  border-color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.topbar-button:hover {
  background-color: #333;
  color: #fff;
}

/* Sidebar Styles */
.sidebar {
  width: 13%; /* Set the sidebar width */
  height: 100vh; /* Full height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 70px; /* Stay at the top */
  left: 0;
  background-color: #f7f7f7; /* Light grey background */
  /* overflow-x: hidden; Disable horizontal scroll */
  /* padding-top: 20px; */
  box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  box-sizing: border-box; /* Ensure padding and border are included in the box's total height */
}
.sidebar h3 {
  padding: 10px 15px;
  margin: 0;
  background-color: #fff; /* White background for the section headers */
  color: #333; /* Dark grey color for text */
  text-transform: uppercase; /* Uppercase section headers */
  letter-spacing: 1px; /* More spacing between letters */
  font-size: 16px;
  border-bottom: 1px solid #ddd; /* Subtle border for separation */
}
.sidebar ul {
  list-style-type: none; /* Remove bullets */
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px 15px;
  text-align: left; /* Align text to the left */
  border-bottom: 1px solid/ #ddd;
  background-color: #fff; /* White background for list items */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.sidebar ul li:hover {
  background-color: #e9e9e9; /* Slightly darker background on hover */
}

.sidebar ul li a {
  text-decoration: none; /* No underline on links */
  color: #333; /* Dark grey color for link text */
  display: block; /* Make the entire list item clickable */
}

.sidebar ul li:hover a {
  color: #000; /* Darker text on hover for contrast */
}

.sidebar .sidebar-content {
  margin-right: 1px; /* Fixes an issue where some elements may overflow */
}

/* Apply a scroll if the content exceeds the viewport height */
.sidebar-content {
  overflow-y: auto;
  height: calc(
    100vh - 70px
  ); /* Adjust height calculation if you change padding */
}

/* Scrollbar styling */
.sidebar-content::-webkit-scrollbar {
  width: 5px;
}

.sidebar-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.sidebar-content::-webkit-scrollbar-thumb {
  background: #888;
}

.sidebar-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main-content {
  margin-left: 13%; /* starting after the sidebar */
  /* padding: 20px; */
  border: 1px solid #000;
  display: flex; /* Turn on flexbox */
  justify-content: center; /* Center content horizontally */
  overflow-y: auto; /* Enable vertical scroll */
  /* align-items: center; Center content vertically */
  height: calc(
    100vh - 90px
  ); /* Take full available height minus topbar and padding */
  box-sizing: border-box; /* Ensure padding and border are included in the box's total height */
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 80%;
  max-width: 400px;
  margin: 2em auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.signup-logo {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.signup-title {
  font-size: 24px;
  margin-bottom: 30px;
}

.signup-field {
  width: 100%;
  margin-bottom: 20px;
}

.signup-action {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5; /* light gray background */
}

.login-box {
  width: 320px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.login-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.login-logo img {
  width: 100px; /* adjust based on the size of your logo */
  height: 100px;
  border-radius: 50%; /* this will make it circular */
  margin-bottom: 15px;
}

.login-logo h2 {
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-field {
  width: 100%;
}

.login-actions {
  display: flex;
  justify-content: space-between;
}

.Edit-Profile-Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw; /* Takes 80% of the viewport width. Adjust as needed. */
  max-width: 600px; /* Setting a maximum width for larger screens. */
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Provides space between child elements */
}

.Edit-Menu-Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw; /* Takes 80% of the viewport width. Adjust as needed. */
  /* max-width: 600px; Setting a maximum width for larger screens. */
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Provides space between child elements */
}

.Change-Password-Box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw; /* Takes 80% of the viewport width. Adjust as needed. */
  max-width: 600px; /* Setting a maximum width for larger screens. */
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Provides space between child elements */
}

/* DiningManagement.css */
.DiningHall-Management-Container {
  padding: 16px;
  /* margin-left: 16px; */
}

.DiningHall-Management-Card {
  margin-top: 16px;
}

.Manage-Dining-Hall-Card-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.Manage-Restaurant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 8px 0;
}

.Manage-Restaurant li {
  list-style: none;
}

/* Adjustments for responsiveness */
@media (max-width: 600px) {
  .Manage-Dining-Hall-Card-Header h3 {
    font-size: 1rem;
  }
}

.Button-Group {
  display: flex;
  justify-content: space-evenly; /* This will space out the buttons */
  gap: 8px; /* This adds a gap between each button */
}

@media (max-width: 600px) {
  .Button-Group {
    flex-direction: column; /* Stack buttons vertically on small screens */
  }
}

.add-dining-hall-button-container {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  padding-right: 16px; /* Adds some space from the right edge of the screen */
  margin-bottom: 16px; /* Optional: Adds some space below the button */
}
